*, *::before, *::after {
    box-sizing: border-box;
}

    *:not(dialog) {
        margin: 0;
    }

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    scrollbar-gutter: stable;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}


:root {
    color-scheme: light dark;
    --text-color: light-dark(#151518, #faf9f6);
    --accent-color: light-dark(#d5920c, #f2ab1c);
    --background-color: light-dark(#faf9f6, #151518);
    --background-color-alt: light-dark(#eae9e6, #252528);
    --background-color-selected: light-dark(#dad9d6, #454548);
    /* Font size */
    --font-size: 16px;

    @media (min-width: 768px) {
        --font-size: 18px;
    }

    @media (min-width: 992px) {
        --font-size: 20px;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--background-color);
}

.directory-list {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--accent-color);

    .directory-item {
        display: grid;
        color: inherit;
        text-decoration: inherit;
        background-color: var(--background-color);
        border-bottom: 1px solid var(--accent-color);
        padding: 0.25rem 0.5rem;
        column-gap: 0.5rem;
        grid-template-areas:
            "icon name"
            ". dates"
            ". last-upload"
            ". disk-space";
        grid-template-columns: auto 1fr;

        @container (min-width: 600px) {
            grid-template-areas:
                "icon name disk-space"
                ". dates last-upload";
            grid-template-columns: auto 1fr 1fr;
            align-items: center;
        }

        @container (min-width: 900px) {
            grid-template-areas: "icon name dates last-upload disk-space";
            grid-template-columns: auto 2fr 1fr 1fr 1fr;
        }

        .icon {
            grid-area: icon;
            align-self: center;
            justify-self: center;
            width: 2rem;
            height: 2rem;
        }

        .name {
            font-weight: bold;
            grid-area: name;
            color: var(--accent-color);
        }

        .dates {
            grid-area: dates;
        }

        .last-upload {
            grid-area: last-upload;
        }

        .disk-space {
            grid-area: disk-space;
        }

        &.owned {
        }

        &:nth-child(even) {
            background-color: var(--background-color-alt);
        }

        &:hover {
            .name {
                text-decoration: underline;
            }

            background-color: var(--background-color-selected);
            cursor: pointer;
        }
    }
}

    .file-list-header {
        font-weight: bold;
        border-bottom: 2px solid var(--accent-color);
        padding-bottom: 0.25rem;
    }

.file-list {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--accent-color);

    .file-item {
        display: grid;
        background-color: var(--background-color);
        border-bottom: 1px solid var(--accent-color);
        padding: 0.25rem 0.5rem;
        column-gap: 0.5rem;
        grid-template-areas:
            "icon name name"
            ". type type"
            ". size size"
            ". uploaded actions";
        grid-template-columns: auto 1fr auto;

        @container (min-width: 600px) {
            grid-template-areas:
                "icon name type actions"
                ". size uploaded actions";
            grid-template-columns: auto 1fr 1fr auto;
            align-items: center;
        }

        @container (min-width: 900px) {
            grid-template-areas: "icon name type size uploaded actions";
            grid-template-columns: auto 2fr 1fr 1fr 1fr auto;
        }

        .icon {
            grid-area: icon;
        }

        .name {
            grid-area: name;
        }

        .uploaded {
            grid-area: uploaded;
        }

        .size {
            grid-area: size;
        }

        .type {
            grid-area: type;
        }

        .actions {
            grid-area: actions;
        }

        &:nth-child(even) {
            background-color: var(--background-color-alt);
        }

        &:hover {
            background-color: var(--background-color-selected);
        }
    }
}

    .file-upload-container {
        padding-block: 0.5rem;
    }
