################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/obj
/**/bin
/.vs

*.user
/src/FileSling.Web/wwwroot/lib
/src/FileSling.Web/node_modules
