.wrapper {
    --wrapper-width: 100%;
    --padding-x: 0.5rem;
    --padding-y: 0.5rem;

    @media (min-width: 768px) {
        --wrapper-width: 750px;
        --padding-y: 1rem;
    }

    @media (min-width: 992px) {
        --wrapper-width: 970px;
        --padding-x: 1.5rem;
    }

    @media (min-width: 1200px) {
        --wrapper-width: 1170px;
    }

    width: var(--wrapper-width);
    justify-self: center;
    padding: var(--padding-y) var(--padding-x);
}
