@page "/"

Directories Shared with you

Your Directories

<AuthorizeView>
    <NotAuthorized>
        <a href="fakelogin">Login now</a>
    </NotAuthorized>
    <Authorized>
        <CreateDirectoryForm />
        <th11s-directory-list></th11s-directory-list>
    </Authorized>
</AuthorizeView>