@page "/"

Directories Shared with you

Your Directories

<AuthorizeView>
    <NotAuthorized>
        <a href="fakelogin">Login now</a>
    </NotAuthorized>
    <Authorized>
        Yay! I'm someone
    </Authorized>
</AuthorizeView>