@page "/"

Directories Shared with you

Your Directories

<AuthorizeView>
    <NotAuthorized>
        <a href="fakelogin">Login now</a>
    </NotAuthorized>
    <Authorized>
        <CreateDirectoryForm />
        Yay! I'm someone<br />
        <a href="/ls/test">Go to a directory</a>
    </Authorized>
</AuthorizeView>